* {
font-family: 'Pangolin', sans-serif;
/* border: solid 1px red; */
height: 100%;

}

html, body {
  height: 100%;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr .5fr; 

  grid-template-areas: 
    "leftside header header header rightside"
    "leftside iggy draw ziggy rightside"
    "leftside game-container game-container game-container rightside"
    "leftside game-container game-container game-container rightside"
    "leftside game-container game-container game-container rightside";
  height: 100%;
}

.left-side {
  display: grid;
  grid-area: leftside;
  grid-template-rows: .5fr 1.2fr .1fr .1fr 2.5fr; 
  background-color: #E06D06;
  color: #F1F1F1;
  justify-items: center;
  padding: 1.25rem;
}


.right-side {
  display: grid;
  grid-area: rightside;
  grid-template-rows: .5fr 1.2fr .1fr .1fr 2.5fr; 
  background-color: #FFC53A;
  color: #160A09;
  justify-items: center;
  padding: 1.25rem;
}


header, h1 {
grid-area: header; 
background-color: #739382;
} 

h1 {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
}

.outcome-iggy {
  grid-area: iggy;
  background-color: #739382;
  display: grid;
  align-items: center;
  justify-items: center;
}

.outcome-draw {
  grid-area: draw;
  background-color: #739382;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
}

.outcome-ziggy {
  grid-area: ziggy;
  background-color: #739382;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 0;
}

.game-container {
  grid-area: game-container;
  display: grid;
  grid-template-columns: 32.3% 32.3% 32.3%;
  background-color: #739382;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center; 
  border: solid 20px #276864;
  padding-bottom: 0px;
  column-gap: 10px;
  row-gap: 10px;

}
/*
#box1, #box4, #box {
  grid-area: box1;
  background-color: magenta;
} */

.game {
 background-color: #276864;
 background: #276864;
 display: flex;
 justify-content: center;
 align-items: center;;
}

/* #0, #4, #6 {
  padding-left: 5px;
} */

.iggy-wins::after {
  content: attr(data-iggy-wins);
  grid-area: 2;
}

.ziggy-wins::after {
  content: attr(data-ziggy-wins);
}