* {
font-family: 'Pangolin', sans-serif;
height: 100%;
}

html, body {
  height: 100%;
  margin: 0px;
  max-width: 1600px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr .5fr; 
  grid-template-areas: 
    "leftside header header header rightside"
    "leftside iggy draw ziggy rightside"
    "leftside game-container game-container game-container rightside"
    "leftside game-container game-container game-container rightside"
    "leftside game-container game-container game-container rightside"
    "leftside footer footer footer rightside";
}

.left-side {
  display: grid;
  grid-area: leftside;
  grid-template-rows: .5fr 1.2fr .1fr .1fr 2.5fr; 
  background-color: #E06D06;
  color: #F1F1F1;
  justify-items: center;
  padding: 1.25rem;
}

.right-side {
  display: grid;
  grid-area: rightside;
  grid-template-rows: .5fr 1.2fr .1fr .1fr 2.5fr; 
  background-color: #FFC53A;
  color: #160A09;
  justify-items: center;
  padding: 1.25rem;
}

header, h1 {
grid-area: header; 
background-color: #36827F;
} 

h1 {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.9rem;
  margin: .2rem;
  color:#F1F1F1
}

p, h2 {
  font-size: 1.4rem;
}

.outcome-iggy {
  grid-area: iggy;
  background-color: #36827F; 
  display: grid; 
  align-items: center;
  justify-items: flex-end;
}

.outcome-draw {
  grid-area: draw;
  background-color: #36827F;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  
}

.outcome-ziggy {
  grid-area: ziggy;
  background-color: #36827F;
}

.game-container {
  grid-area: game-container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #f3f8f7;
  grid-gap: 0.5rem;
  align-content: center;
  justify-content: center; 
  align-items: center;
  justify-items: center;
  border-left: solid 90px #36827F;
  border-right: solid 90px #36827F;
  max-width: 600px;
  max-height: 600px;
  
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #36827F;
  width: 100%;
  height: 100%;
}

.iggy-wins::after {
  content: attr(data-iggy-wins);
  grid-area: 2;
}

.ziggy-wins::after {
  content: attr(data-ziggy-wins);
}

.hidden {
  display: none;
}

.footer {
  grid-area: footer;
  background-color: #36827F;
  height: 100%;
}