* {
font-family: 'Pangolin', cursive;
/* font-family: 'Roboto', sans-serif;  */
border: solid 1px red;
}

.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  /* grid-auto-flow: dense; */
  grid-template-areas: 
    "leftside header header header rightside"
    "leftside iggy draw ziggy rightside"
    "leftside game game game rightside"
    "leftside game game game rightside"
    "leftside game game game rightside";
}

.left-side {
  grid-area: leftside;
}

.right-side {
  grid-area: rightside;
}

/* h2 {

}

p { 


} */

h1 {
  /* grid-area: header; */
  grid-column: 2 / 5;
} 

.outcome-iggy {
  grid-area: iggy;
}

.outcome-draw {
  grid-area: draw;
}

.outcome-ziggy {
  grid-area: ziggy;
}

.game-container {
  grid-area: game;
    /* 3 / 2 / 6 / 5; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);     */
}

